.inicio-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.inicio-container header {
    display: flex;
    align-items: center;
}

.inicio-container header span {
    font-size: 18px;
    margin-left: 24px;
}

.inicio-container header img {
    height: 64px;
}